*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;    
}
.text-align{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway';
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold;
    transform: translateX(-50%);
}
nav{
    background: #F6F6F6;
    height: 80px;
    width: 100%;
}
.logo{
color: black;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
font-family: 'eb garamond';
}
.logo-text{
    color: black;
font-size: 15px;
line-height: 15px;
padding: 0 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #169E7E;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: none;
    font-weight: bold;
    transition: .2s;
}
.register.a.active-register,a:hover{
    background: none;
    font-weight: bold;
    transition: .2s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .logo-text{
        font-size: 12px;
        padding-left: 50px;
    }
nav ul li a{
    font-size: 13px;
}
.register{
    font-size: 13px;
}
.text-align h1{
    font-size: 30px;
}
.text-align p{
    font-size: 12px;
}
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}
section{
    background:  url(mark.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
.register{
    display: inline-block;
    padding: 10px 50px;
    background-color: #ffff;
    border: 2px solid #ffff;
    text-decoration: none;
    color: black;
}